/* 文章左边模块 */
.left #LabelA {
    width: 100%;
    margin: auto;
    height: 500px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 0.6px 25px -10px black;
}


.left #LabelA .Bto p .BLabel {
    /* text-indent: 1rem; */
    margin-left: 10px;
    font-size: 1.4rem;
}

.left #LabelA .Bto p .BLabel-time {
    float: right;
    margin-right: 12px;
    font-size: 14px;
    color: silver;
}

.left #LabelA .Bto .Lalel .Label_sbox {
    margin-top: 10px;
    margin-left: 12px;
}

.left #LabelA .Bto .Lalel .Label_box {
    padding: 3px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    text-decoration: none;
}